body
{
    background-size: cover;
    background-image: url('../assets/img/fondos/fondoLanding.jpg');
}

.botonSitio
{
    background-color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 576px)
{
    body 
    {
        background-image: url('../assets/img/fondos/fondoLandingVertical.jpg');
    }
}