$breakpoints:
(
    chico: 576px,
    medio: 768px,
    grande: 992px,
    muyGrande: 1200px
);

$colores:
(
    verano1: #FAC89F,
	verano2: #FCDABF,
	verano3: #BFE9F1,
	verano4: #A1DCE9,
	verano5: #7AD1E1,
    transpBajo: rgba(0, 0, 0, 0.3),
    transpMedio: rgba(0, 0, 0, 0.5),
    transpAlto: rgba(0, 0, 0, 0.9),
    fondoGrisT: rgba(200, 200, 200, .9)
);

*
{
	margin: 0;
	padding: 0;
}

@mixin mediaQ($medida)
{
    @media screen and (max-width: map-get($breakpoints,$medida)){
        @content;
    }
}

body
{
    background-image: linear-gradient(to bottom, map-get($colores,verano1), map-get($colores,verano5));
	font-family: 'Oswald',"Times New Roman", sans-serif;
}

.landing
{
    background-size: cover;
    background-image: url('../assets/img/fondos/fondoLanding.jpg');

    @include mediaQ(chico)
    {
        background-image: url('../assets/img/fondos/fondoLandingVertical.jpg');
    }
}

.botonLanding
{
    background-color: map-get($colores,transpMedio);
}

body::-webkit-scrollbar 
{
	display: none;
}

header 
{
	background-color: map-get($colores,transpMedio);
	width: 100%;
	height: 10%;
	padding: 15px;

    @include mediaQ(chico)
    {
        height: 15%;
    }
}

.menu  /* nav */
{
	float: left;
	margin: 5px;
}

.botonInicio
{
	width: 90px;
	height: 60px;

    @include mediaQ(chico)
    {
        width: 60px;
        height: 40px;
    }
}

ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.botonMenu /* li */
{
	float: left;
	font-size: 20px;
	padding: 0 15px 0 15px;

    @include mediaQ(chico)
    {
        font-size: 15px;
		padding: 0 5px 0 5px;
    }
}

a
{
	color: black;
	text-decoration: none;
}

.botonMenu:hover
{
	font-size: 25px;
	font-weight: bold;
	text-decoration: underline;

    @include mediaQ(chico)
    {
        font-size: 20px;
    }
}

.pagActual
{
	float: left;
	padding: 0 15px 0 15px;
	font-size: 25px;
	font-weight: bold;

    @include mediaQ(chico)
    {
        padding: 0 5px 0 5px;
		font-size: 20px;
    }
}

main
{
	background-color: map-get($colores,transpBajo);
	width: 100%;
	height: 70%;

    @include mediaQ(chico)
    {
        margin-top: 3px;
        height: 80%;
    }
}

.indexMain
{
    width: 100%;
	height: 70%;
    overflow: auto;

    @include mediaQ(chico)
    {
        margin: 0;
        padding: 0;
        height: 60%;
    }
}

section
{
	background-color: map-get($colores,transpBajo);	
	width: 100%;
	height: 30%;
    justify-content: center;
	align-items: center;

    @include mediaQ(chico)
    {
        height: 15%;
        background-color: transparent;
    }
}

.plataformas
{
	height: 90%;
	display: flex;
	flex-wrap: row nowrap;
	justify-content: center;
	align-items: center;

}

.botonPlataforma
{
	padding: 5px;
	border: 1px solid black;
	width: 100px;
	height: 100px;

    @include mediaQ(chico)
    {
        padding: 2px;
		border: 1px solid black;
		width: 50px;
		height: 50px;
    }
}

footer
{
	background-color: map-get($colores,transpBajo);
	width: 100%;
	height: 10%;
	margin: 3px;
	text-align: right;

    @include mediaQ(chico)
    {
        display: none;
    }
}

.tituloSP
{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 30px;
	text-align: center;
	text-decoration: underline;

    @include mediaQ(chico)
    {
        margin-top: 1px;
        margin-bottom: 1px;
        font-size: 15px;
    }
}

.catalogo
{
	display: flex;
	overflow-x: auto;
}

.grid-layout
{
	background-size: cover;
	border: 2px solid black;
	width: 50%;
	filter: contrast(100%);
	padding: 10px;
	flex: none;
	
	display: grid;
	grid-template-rows: 15% 30% 15% 40%;
	grid-template-columns: 25% 25% 50%;

	grid-template-areas: 	'tituloIndiv tituloIndiv tituloIndiv'
							'sinopsis sinopsis portada'
							'dondeVer puntuacion portada'
							'trailer trailer portada';

	row-gap: 3px;
	column-gap: 3px;

    @include mediaQ(chico)
    {
        width: 100%;

		grid-template-rows: 15% 65% 20%;
		grid-template-columns: 40% 60%;

		grid-template-areas: 	'tituloIndiv tituloIndiv'
								'portada sinopsis'
								'dondeVer puntuacion';
    }
}

.grid-layout-index
{
	border: 2px solid black;
	height: 90%;
	width: 70%;
	margin: auto;
	padding: 10px;
	flex: none;
	
	display: grid;
	grid-template-rows: 13% 20% 12% 55%;
	grid-template-columns: 60% 40%;

	grid-template-areas: 	'tituloIndiv tituloIndiv'
							'sinopsis portada'
							'dondeVer portada'
							'trailer portada';

	row-gap: 3px;
	column-gap: 3px;

    @include mediaQ(chico)
    {
        width: 80%;

		grid-template-rows: 15% 65% 20%;
		grid-template-columns: 40% 60%;

		grid-template-areas: 	'tituloIndiv tituloIndiv'
								'sinopsis portada'
								'dondeVer portada';
    }


}

.gridPelis
{
	background-image: url('../assets/img/fondos/fondoPeliculas.jpg');
    background-size: cover;
}

.gridSeries
{
	background-image: url('../assets/img/fondos/fondoSeries.jpg');
    background-size: cover;
}

.gridAnime
{
	background-image: url('../assets/img/fondos/fondoAnime.jpg');
    background-size: cover;
}

.tituloIndiv
{
	grid-area: tituloIndiv;

	background-color: map-get($colores,fondoGrisT);
	border: 1px solid black;

	font-size: 30px;
	text-align: center;
	font-weight: bold;

    @include mediaQ(chico)
    {
        font-size: 23px;
    }
}

.sinopsis
{
	grid-area: sinopsis;

	background-color: map-get($colores,fondoGrisT);
	border: 1px solid black;

	font-style: italic;
	font-weight: bold;
	overflow: auto;
	padding: 3px;
}

.dondeVer
{
	grid-area: dondeVer;

	background-color: map-get($colores,fondoGrisT);
	border: 1px solid black;

	flex-wrap: row nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

.botonDondeVer
{
	padding: 5px;
	width: 35px;
	height: 35px;

    @include mediaQ(chico)
    {
        padding: 3px;
        width: 25px;
        height: 25px;
    }
}

.puntuacion
{
	grid-area: puntuacion;

	background-color: map-get($colores,fondoGrisT);
	border: 1px solid black;

	font-weight: bold;
	padding: 10px;
	justify-self: center;
	align-self: center;
}

.trailer
{
	grid-area: trailer;

	background-color: map-get($colores,fondoGrisT);
	border: 1px solid black;

    @include mediaQ(chico)
    {
       display: none;
    }
}

.portada
{
	grid-area: portada;

	background-color: map-get($colores,fondoGrisT);
	border: 1px solid black;

	padding: 5px;
}